@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<BookModel>
@{
    dynamic data = ViewBag.Data;
    var bookInfo = ViewData["book"] as BookModel;
    ViewData["Title"] = "Book";
}
@{
    var parameters = new Dictionary<string, string>()
    {
        {"name", "yash"},
        {"company", "amogha"},
        {"appname", "bookst"}
    };
}
<html>
<head>
    <title>GetAllBook </title>
    <link href="~/css/Book.css" rel="stylesheet" />
</head>
<body>
    <div class="container c1">
        @section breadcrumb{
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Book</li>
            </ol>
        </nav>
        }
        <div class="row r1">
            <h2>Book List @ViewBag.Title</h2>
            @data.Id @data.Name <br />
            Id = @ViewBag.Type.Id <br />
            Name = @ViewBag.Type.Author<br />
            @ViewData["property1"]
        </div>
        <div class="row r2">
            @foreach (var book in Model)
            {
                <partial name="_bookThumbnail" model="@book"></partial>
            }
        </div>
    </div>
</body>
</html>