@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model IEnumerable<BookModel>
@{
    dynamic data = ViewBag.Data;
    var bookInfo = ViewData["book"] as BookModel;
    ViewData["Title"] = "Book";
}
@{
    var parameters = new Dictionary<string, string>()
    {
        {"name", "yash"},
        {"company", "amogha"},
        {"appname", "bookst"}
    };
}
<html>
<head>
    <title>GetAllBook </title>
    <link href="~/css/Book.css" rel="stylesheet" />
</head>
<body>
    <div class="container c1">
        @section breadcrumb{
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page">Book</li>
            </ol>
        </nav>
        }
        <div class="row r1">
            <h2>Book List @ViewBag.Title</h2>
            @data.Id @data.Name <br />
            Id = @ViewBag.Type.Id <br />
            Name = @ViewBag.Type.Author<br />
            @ViewData["property1"]
        </div>
        <div class="row r2">
            @foreach (var book in Model)
            {
                <div class="card text-dark bg-light mb-3" style="max-width: 18rem; margin-left:2%;">
                    <div class="card-body">
                        <h5 class="card-title">@book.Id.  @book.Title</h5>
                        <p class="card-text">- @book.Author</p>
                        <a asp-route="bookdetailsRoute" asp-route-id="@book.Id" class="btn btn-primary">View Details</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>