@{
    ViewData["Title"] = "Book detail " + Model.Title;
}
@model BookStore1.Models.BookModel;

<div class="container">
    <h3>Book Details</h3>
    <div class="row">
        <div class="col-md-6">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    @for (int i = 0; i < Model.Gallery.Count(); i++)
                    {
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="@i" class="@(i==0 ? "active" : "")" aria-current="true" aria-label="Slide 1"></button>
                    }
                </div>
                <div class="carousel-inner">
                    @for (int i = 0; i < Model.Gallery.Count(); i++)
                    {
                        <div class="@(i==0 ? "carousel-item active" : "carousel-item")">
                            <img src="/@Model.Gallery[i].URL" asp-append-version="true" class="d-block w-100" alt="@Model.Gallery[i].Name">
                        </div>
                    }
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
<<<<<<< HEAD
<<<<<<< HEAD

=======
        
>>>>>>> f5255d0f872cdb79c9fd4f5200d26bed1ebeca9f
=======
        
>>>>>>> f5255d0f872cdb79c9fd4f5200d26bed1ebeca9f
        <div class="col-md-6">
            <div class="col-md-12 text-primary">
                <span class="lable lable-primary">By: @Model.Author</span>
                <span class="monospaced">@Model.Title</span>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p>anasdnkasmn,m snkasndkamnsmdnd,a asjdjkasndkmanmasm  asdanskdn asdasd</p>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Read now
                    </a>
                </div>
            </div>
            <hr />
<<<<<<< HEAD
<<<<<<< HEAD
            @*<ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">language - </span>@Model.Language</li>
                </ul>*@
=======
            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">language - </span>@Model.LanguageId</li>
            </ul>
>>>>>>> f5255d0f872cdb79c9fd4f5200d26bed1ebeca9f
=======
            <ul class="list-group">
                <li class="list-group-item"><span class="font-weight-bold">language - </span>@Model.LanguageId</li>
            </ul>
>>>>>>> f5255d0f872cdb79c9fd4f5200d26bed1ebeca9f
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        @*<embed src="/@Model.BookPdfurl" class="w-100"/>*@
        <iframe src="/@Model.BookPdfurl" class="w-100"></iframe>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

